## User files Visual Studio
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

## Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

## Cache and configuration files Visual Studio
.vs/
*.VC.db
*.VC.VC.opendb

## Experimental unit VS
**/[Ee]xperimental/
**/AppHost/

## Build results VSIX
BuildOutput/

## Test results
[Tt]est[Rr]esult*/
*.trx
*.coverage
*.coveragexml
TestResults/

## NuGet
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets
project.lock.json
project.fragment.lock.json
artifacts/

## Publication
publish/
PublishProfiles/*.pubxml.user

## JetBrains Rider
.idea/
*.sln.iml
*.DotSettings.user

## Visual Studio Code
.vscode/

## Other
*.log
*.tmp
*.bak
*.dotCover
Thumbs.db
.DS_Store

## Secrets and local configurations
**/appsettings.*.local.json
**/secrets.json
*.pfx
*.snk
!build/signing/*.snk

## VSIX generated manifests
**/extension.vsixmanifest
**/merged.source.extension.vsixmanifest

## Visual Studio upgrade wizard leftovers
Backup*/
UpgradeLog*.htm
UpgradeLog*.XML
_UpgradeReport_Files/